# .env file example.  Save as ".env" and modify to your needs.
DEBUG=1
#ALLOWED_HOSTS=*
#SECRET_KEY=
#VAR_ROOT=/home/user/projects/parkkihubi/var
DATABASE_URL=postgis:///parkkihubi
#TEST_DATABASE_TEMPLATE=template_gis
USE_DOCKER=1
