# Django
Django~=2.2.0

# Settings
django-environ

# Sentry monitoring
raven>=5.2.0

# PostgreSQL
psycopg2
--no-binary psycopg2

# Django REST Framework
djangorestframework>=3.9
djangorestframework-gis>=0.14
django-filter>=2.1.0
drf-jwt-2fa

# XML parsing
lxml

# WFS
owslib

# Misc
django-cors-headers
django-sanitized-dump
python-memcached
pytz
