# Django
Django

# Settings
django-environ

# Sentry monitoring
raven>=5.2.0

# PostgreSQL
psycopg2

# Django REST Framework
djangorestframework
djangorestframework-gis
django-filter

# XML parsing
lxml

# WFS
owslib

# Misc
pytz
